.layout_blog{
    max-width: 60rem;
    margin: auto auto;
}

.layout_blog article .teaser_2col {
    column-count: 2;
}

.full{
    display: none;
}

.layout_blog .layout2 {
    display: flex;
}

.layout2 .marginLeft {
    margin-left: 2rem;
    float: left;
}